<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Esraa Nader/IdeaProjects/AutomationPractice">
        <classes>
            <class name="AutomationPracticeTCs.E2EScenario">
                <methods>
                    <include name="SignIn"/>
                    <include name="CreateAccount"/>
                    <include name="SetPersonalInfo"/>
                    <include name="SelectWomenMenu"/>
                    <include name="AddToCartPage"/>
                    <include name="CheckOut"/>
                    <include name="DeliveryAdress"/>
                    <include name="Shipment"/>
                    <include name="BankPay"/>
                    <include name="OrderSummary"/>
                    <include name="ConfirmPayment"/>
                    <include name="OrderHistory"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>